
.cartsteps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 0px;
    text-align: center;
    width: 80%;
    margin: 20px auto 0;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.cartstepsh2 {
    width: 80px;
    height: 80px;
    border-radius: 1000px;
    border: 1px solid #ccc;
    padding-top: 21px;
    color: #555;
    &.active {
        background: #d96528;
        border: 1px solid #d96528;
        color: white;
    }
}

.cartstepsh4 {
    margin-top: 20px;
    color: #555;
}

@media screen and (max-width: 600px) {
    .cartsteps {
        grid-column-gap: 30px !important;
    }
}