
.productimg {
    float: left;
    margin-right: 15px;
    width: 100px;

}

.total {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
}

.carttable {
    width: 100%;
    margin-top: 20px;
}

.tablerow {
    text-align: center;
}

.tableheading {
    padding: 10px 0;
}

.tabledata,
.tableheading {
    border-bottom: 1px solid #ccc;
}

.golden {
    background: #f2eee2;
    font-weight: bold;
    padding: 10px;
}

.productname {
    padding-top: 36px;
    text-align: left;
}

h1 {
    margin-top: 40px;
}

.num {
    text-align: right;
}

button a {
  color: white;
  transition: 0.3s all ease;
}

@media screen and (min-width: 700px) {
    .payment {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 100px;
    }

    .total {
        width: 90%;
    }
}

@media screen and (max-width: 699px) {
    .payment {
        width: 94%;
        margin-left: 2%;
    }
}