.content {
    height: 100%;
    width: 100% !important;
}

.imgContain {
    max-height: 200px;
    display: flex;
    align-content: center;
    align-items: center;
    img {
        width: 100%;
    }
}

.item {
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.storeAside {
    height: 100% !important;
    width: 100% !important;
}

.max {
    display: inline-block;
    float: right;
}